
*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;

}
ul ,li{
    list-style: none;
}
body {
    background: #e5e5e5;
    /*opacity: .5;*/
    font-size: 12px;
    color: #000;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
textarea{
    resize: none;
}
.content{
    width: 100%;
    background: #fff;
}
.content ul{
    width: 100%;
    /*margin-bottom: 5%;*/
}
.content ul li{
    /*min-height: 8%;*/
    padding: 5%;
    border-top: 1px solid #ccc;
    width: 90%;
    float: left;
}
.content ul li .add_info{
    /*width: 60%;*/
    text-align: left;
}
.add_info p{
    line-height: 25px;
    width: 80%;
    float: left;
    margin-left: 10%;
}
.content .con1{
    width: 100%;
    float: left;
    background: #fff;
    margin-top: 2%;
}
.content .con1  li{
    /* min-height: 8%; */
    padding: 0 6%;
    border-top: 1px solid #ccc;
    width: 88%;
    float: left;
    line-height: 4em;
}

